$animation-duration: 0.3s;

.slideIn {
	animation-name: slideIn;
	animation-duration: $animation-duration;
}

.slideOut {
	animation-name: slideOut;
	animation-duration: $animation-duration;
}

.dropDown {
	animation-name: dropDown;
	animation-duration: .5s;
}

.dropUp {
	animation-name: dropUp;
	animation-duration: .5s;
}

@keyframes slideIn {
	0% {
		transform: translateX(200px);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideOut {
	0% {
		transform: translateX(0);
		opacity: 0.8;
	}

	100% {
		transform: translateX(300px);
		opacity: 0;
	}
}

@keyframes dropDown {
	0% {
		transform: translateX(100%);
	}
	
	100% {
		transform: translateX(0);
	}
}

@keyframes dropUp {
	0% {
		transform: translateX(100%);
	}
	
	100% {
		transform: translateX(0);
	}
}

@keyframes bounce {

	0% {
		transform: translateY(2rem);
	}

	50% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(2rem);
	}
}