@font-face {
	font-family: ProximaNova;
	src: url('../fonts/ProximaNova.otf') format('opentype');
}

@font-face {
	font-family: GothamMedium;
	src: url('../fonts/Gotham\ Medium.otf') format('opentype');
}

@font-face {
	font-family: GothamRegular;
	src: url('../fonts/GothamLight\ Regular.otf') format('opentype');
}
