@use 'fonts.scss';
@use 'animations.scss';

$dark-gray-text: rgb(54, 54, 54);
$light-grey: #ccc;
$medium-grey: #999;
$dark-grey: #666;
$very-dark-grey: #333;
$black: #000;
$tesla-red: #e82127;
$tesla-blue: rgb(70, 108, 217);
$white: #fff;

:root {
	--navbar-sliding-left: 0%;
}

@mixin btn {
	padding: 2% 4%;
	border-radius: 2rem;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
}

@mixin profile-picture($size) {
	border-radius: 100%;
	width: $size;
	height: $size;
	object-fit: cover;
	object-position: center top;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	transition: all 0.5s cubic-bezier(.8,.38,.09,.82);
}

#home {
	margin-top: 6.8rem;
	text-align: center;
}

body {
	font-family: 'ProximaNova', sans-serif;
}

h2,
h4 {
	font-weight: bold;
}

h2 {
	font-size: 2.8rem;
}

h3 {
	font-size: 2.2rem;
}

h4 {
	font-size: 1.8rem;
}

img {
	max-width: 100%;
}

button, a.btn-secondary, a.btn-primary{
	@include btn;
}


#app {
	height: 100vh;
	width: 100vw;
	background: {
		image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/32e5e0f3-5c04-42ef-8f8f-c6b1c26f8a9e/bvlatuR/std/2880x1800/ms-main-hero-desktop);
		size: cover;
		position: center center;
	}
}

.hidden {
	display: none;
}

#container {
	width: 95%;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: inherit;
}

$hover-color: rgba(0, 0, 0, 0.062);

header {
	h1 {
		width: 200px;
		display: flex;
		align-items: center;
	}
	display: grid;
	grid-template-columns: 200px max-content min-content;
	justify-content: space-between;
	width: 95%;
	margin: 0 auto;
	padding-top: 0.8rem;

	nav {
		position: relative;
		#hover-sliding {
			opacity: 0;
			position: absolute;
			left: var(--navbar-sliding-left);
			top: 0;
			height: 100%;
			width: 25%;
			background: $hover-color;
			border-radius: 10px;
			pointer-events: none;
		}

		& > ul {
			display: flex;

			&:hover ~ #hover-sliding {
				opacity: 1;
			}

			li {
				padding: 0.7rem;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}

#hamburger {
	display: none;
}

$box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.27);

#menu {
	z-index: 1;
	position: absolute;
	right: 0;
	top: 0;
	background-color: $white;
	height: 100vh;
	width: 20rem;
	padding: 1rem 2.2rem;
	margin-top: 2rem;
	box-shadow: $box-shadow;

	$close-top-distance: 4%;

	.close {
		position: absolute;
		right: 10%;
		top: $close-top-distance;

		i {
			pointer-events: none;
		}
	}

	ul {
		margin-top: calc(2rem + ($close-top-distance * 2));
		li {
			padding: 1.2rem;
			border-radius: 10px;
			&:hover {
				background-color: $hover-color;
			}

			a {
				font-size: 1rem;
				color: $very-dark-grey;
			}
		}
	}
}

.menu-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.27);
	display: none;
}

.active {
	display: inline-block;
}

@media screen and (max-width: 50em) {

	header {
		grid-template-columns: 200px min-content;
	}

	nav {
		display: none;
	}

	#hamburger {
		display: block;
		justify-self: flex-end;
		margin-right: 1rem;
	}
}


// login

.btn-primary {
	background-color: $tesla-blue;
	color: $white;
	border: none;

	&:hover {
		background-color: darken($tesla-blue, 10);
	}
}

.btn-primary, .btn-secondary {
	&:focus {
		outline: 2px solid $white;
		outline-offset: -4px;
	}
}

.btn-secondary {
	color: $black;
	border: 3px solid $black;
	background-color: $white;

	&:hover {
		background-color: $black;
		color: $white;
	}
}

.error {
	margin-bottom: 7%;
	background-color: $tesla-red;
	line-height: 1.4;
	color: $white;
	padding: 1rem;
	border-radius: 10px;
	display: flex;
	align-items: center;
	gap: 1rem;
}


// cars

#cars {
	background-color: rgb(244, 244, 244);
	padding: 2.2rem;

	.car-inventory {
		display: grid;
		grid-template-rows: repeat(max-content, 1fr);
		grid-template-columns: repeat(2, 1fr);
		gap: 1.2rem;
		padding: 1.2rem;
		.car {
			background-color: $white;
			border-radius: 10px;
			padding: 2.2rem;
			display: grid;
			grid-template-areas:
				'model model . price'
				'version version . .'
				'img img img img'
				'specs specs specs specs';

			h3 {
				font-size: 1.8rem;
				font-weight: bold;
				color: $very-dark-grey;
				grid-area: model;
			}

			h5 {
				font-size: 1.4rem;
				grid-area: price;
				font-weight: bold;
				justify-self: flex-end;
			}

			& > h4 {
				grid-area: version;
				font-size: 1.2rem;
				font-weight: normal;
			}

			p {
				font-size: 1rem;
				font-weight: normal;
				color: $very-dark-grey;
			}

			img {
				grid-area: img;
			}
			.car-specs {
				grid-area: specs;
				text-align: center;
				display: flex;
				justify-content: space-around;

				.vertial-line {
					width: 1px;
					height: 100%;
					background-color: $medium-grey;
				}

				.car-cta {
					width: 100%;
					gap: 4%;
					display: none;
					opacity: 0;

					button, a {
						width: 100%;
						height: 3rem;
					}
				}

				li {
					h5 {
						font-weight: normal;
						span {
							font-size: 0.8rem;
							color: $very-dark-grey;
						}
					}
				}
			}

			&:hover {
				.car-cta {
					display: flex;
					animation-name: slideIn;
					animation-duration: 0.4s;
					opacity: 1;
				}

				ul > li {
					display: none;
				}
			}
		}
	}
}

.credentials__form {
	width: 20rem;
	margin: 0 auto;
	margin-top: 10rem;


	h3 {
		font-family: 'GothamMedium';
		margin-bottom: 8%;
	}

	@mixin horizontal-line {
		content: " ";
		width: 40%;
		background-color: $light-grey;
		height: 1px;
		display: inline-block;
		vertical-align: middle;
		margin: 0 8px;
	}

	span {
		color: $medium-grey;
		display: block;
		&::before {
			@include horizontal-line;
		}

		&::after {
			@include horizontal-line;
		}
	}

	span, button {
		margin-top: 10%;
	}

	button {
		width: 100%;
		height: 3rem;
	}
}

form {
	label {
		color: $dark-grey;
		margin-bottom: 1rem;
		display: block;
		margin-left: 7%;
		font-weight: bold;
	}
	input {
		background-color: lighten($light-grey, 17%);
		display: flex;
		margin-bottom: 1.8rem;
		width: 100%;
		border-radius: 10rem;
		line-height: 2;

		&[type="submit"] {
			text-transform: uppercase;
			height: 3rem;
			cursor: pointer;
		}

		&:not(input[type="submit"]) {
			border: unset;
			outline: unset;
			font-size: 1.4rem;
			color: $very-dark-grey;
			padding-left: 7%;
			
			&:not(input[type="text"]) &:not(input[type="email"]) {
				letter-spacing: 4px;
				position: relative;
			}


			&:hover {
				outline: 0.02rem solid $medium-grey;
			}
		}
		
	}
}

#car {
	display: grid;
	grid-template-areas: 
	"car car car car info info"
	"car car car car info info"
	"car car car car info info"
	"car car car car info info";
	width: 100%;
	height: 100%;
	position: fixed;

	header {
		grid-area: hd;
	}

	#car-media {
		grid-area: car;
		overflow: hidden;
		.car-images {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				min-width: 100vw;
				object-fit: cover;
				min-height: 100vh;
			}

			&:hover {
				.img-arrows {
					opacity: 1;
					transform: translateX(0);
				}
			}

			a {
				svg {
					pointer-events: none;
				}
			}

			a {
				position: absolute;
				bottom: 50%;
				opacity: 0;

				transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

				&:nth-of-type(1) {
					right: 5%;
					transform: translateX(47px);
				}
				
				&:nth-of-type(2) {
					left: 5%;
					transform: translateX(-47px);
				}
			}

			
		}
	}

	#car-information {
		grid-area: info;
		text-align: center;
		background-color: $white;
		margin-top: 10%;
		padding: 0 5rem 5rem;
		overflow-y: scroll;
		position: relative;

		&>div {
			position: absolute;
			left: 0;
			bottom: 0;
			height: 7%;
			width: 100%;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0.47) 0%, $white 100%);
			svg {
				animation: bounce 2s infinite;
			}
		}

		h3, h4 {
			margin-bottom: 4%;
		}

		h3 {
			font-weight: bold;
			margin-top: 17%;
		}

		h4 {
			font-size: 1rem;
			color: $very-dark-grey;
		}

		figure {
			margin: 20% 0;

			img {
				@include profile-picture(7rem);
			}

			figcaption {
				font-size: 1.2rem;
			}
		}

		&>ul {
			li {
				margin-bottom: 7%;
			}

			margin: 17% 0 10% 0;
		}

		button {
			width: 100%;
			height: 3rem;
		}

		#car-features {
			text-align: left;
			list-style-type: initial;
			color: $dark-grey;
			margin-top: 12%;
		}

		.car-specs {
			display: flex;
			justify-content: space-between;

			h5 {
				font-size: 1.7rem;
				color: $black;

				span {
					font-size: 1rem;
					margin-left: 1%;
				}
			}

			p {
				font-size: .8rem;
				color: $dark-grey;
				margin: 10% 0;
			}
		}
	}
}

#me {
	width: 25rem;
}

.alert {
	position: fixed;
	right: 4%;
	top: 4%;

	.alert__content {
		background-color: #466cd9;
		border-radius: 10px;
		color: #fff;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		padding: 1.2rem 2.2rem;
		gap: .4rem;

		border-top: 7px solid darken($tesla-blue, 20%);
		border-right: 7px solid darken($tesla-blue, 20%);

		hr {
			position: absolute;
			left: 0;
			bottom: 0;
			border: 2px solid $white;
			border-radius: 50px;

			animation-name: widthAnimate;
			animation-duration: 10s;
		}
	}
}

.profile-tab {
	background-color: $light-grey;
	height: 3rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 4%;
	border-radius: 50px;
	position: relative;

	a {
		padding: .4rem .8rem;
		border-radius: 50px;
		width: 11rem;
		text-align: center;
	}
}

@media screen and (max-width: 50em) {
	#cars {
		.car-inventory {
			grid-template-columns: 1fr;
		}
	}

	#car {
		grid-template-areas: 
		"car car car car car car"
		"car car car car car car"
		"info info info info info info"
		"info info info info info info";

		#car-media {
			.car-images {

				&>.img-arrows {
					opacity: 1;
					transform: translateX(0) !important;

					svg {
						width: 2rem;
						height: 2rem;
					}
				}

				img {
					min-width: 100%;
					min-height: 100%;
				}
			}
		}

		#car-information {
			padding: 0 5rem 1rem 5rem;
			h3 {
				margin-top: unset;
			}

			&>div {
				display: none;
			}
		}
	}
}
